@model IEnumerable<Leash>

@inject SignInManager<ApplicationUser> SignInManager
@using BazaSmyczy.Core.Consts

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (SignInManager.IsSignedIn(User) && User.IsInRole(Roles.Administrator))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desc)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole(Roles.Administrator))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> @:|
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> @:|
                    }
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="ShowImage" asp-controller="Leash" asp-route-id="@item.ID" data-target="#modal-container" data-toggle="modal">Image</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<style>
    .modal-dialog {
        position: relative;
        display: table;
        max-width: 60%;
        width: auto;
        overflow-y: auto;
        overflow-x: auto;
        min-width: 300px;
    }
</style>